.img-fluid {
  width: 100%;
  height: 30vh !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.profile {
  border: 5px solid #fff;
  border-radius: 50%;
}

.profile-card {
    position: absolute;
    top: 34vh;
}
.profile img{
    object-fit: cover;
    width: 120px;
    height: 120px;
}

.lebar {
  height: 200px;
}

.table-dark {
  --bs-table-bg: darkviolet!important;
}